header {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.573);
  font-weight: bolder;
  width: 100%; }

footer {
  font-size: small;
  color: #f7b613;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  footer img {
    border: 0.2px solid rgba(255, 255, 255, 0.573);
    width: 50px;
    padding: 1px;
    margin: 2px; }

.carousel-inner img {
  /*<<pensado para pagina de inicio>>*/
  width: 100vw;
  height: 100vh;
  object-fit: cover; }

.h1index {
  /*<<pensado para pagina de inicio>>*/
  display: flex;
  z-index: 10;
  position: absolute;
  top: 70%;
  left: 50%;
  right: 5%;
  background-color: rgba(255, 255, 255, 0.573); }

.menuScroll img {
  /*<<pensado para pagina de menu>*/
  padding: 0px 5% 0px 5%;
  width: 100%; }

.cardMenu {
  display: flex;
  color: #0077ff;
  justify-content: center; }

.gridMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  width: 90vw;
  justify-content: center;
  border: 2px solid #f7b613;
  box-shadow: 0px 0px 37px 0px #f7b613;
  padding: 0 10px 0 15px;
  grid-auto-flow: row;
  grid-template-areas: "tituloMenu tituloMenu " "titProd1  prec1" "descProd1 prec1" "titProd2  prec2" "descProd2 prec2" "titProd3  prec3" "descProd3 prec3" "titProd4  prec4" "descProd4 prec4" "titProd5  prec5" "descProd5 prec5" "titProd6  prec6" "descProd6 prec6" "titProd7  prec7" "descProd7 prec7" "titProd8  prec8" "descProd8 prec8" "titProd9  prec9" "descProd9 prec9"; }
  .gridMenu .tituloMenu {
    grid-area: tituloMenu;
    justify-content: center;
    align-self: center; }
    .gridMenu .tituloMenu h1 {
      display: flex;
      justify-content: center; }
  .gridMenu .titProd1 {
    grid-area: titProd1; }
  .gridMenu .descProd1 {
    grid-area: descProd1; }
  .gridMenu .prec1 {
    grid-area: prec1; }
  .gridMenu .titProd2 {
    grid-area: titProd2; }
  .gridMenu .titProd3 {
    grid-area: titProd3; }
  .gridMenu .titProd4 {
    grid-area: titProd4; }
  .gridMenu .titProd5 {
    grid-area: titProd5; }
  .gridMenu .titProd6 {
    grid-area: titProd6; }
  .gridMenu .titProd7 {
    grid-area: titProd7; }
  .gridMenu .titProd8 {
    grid-area: titProd8; }
  .gridMenu .titProd9 {
    grid-area: titProd9; }
  .gridMenu .descProd2 {
    grid-area: descProd2; }
  .gridMenu .descProd3 {
    grid-area: descProd3; }
  .gridMenu .descProd4 {
    grid-area: descProd4; }
  .gridMenu .descProd5 {
    grid-area: descProd5; }
  .gridMenu .descProd6 {
    grid-area: descProd6; }
  .gridMenu .descProd7 {
    grid-area: descProd7; }
  .gridMenu .descProd8 {
    grid-area: descProd8; }
  .gridMenu .descProd9 {
    grid-area: descProd9; }
  .gridMenu .prec2 {
    grid-area: prec2; }
  .gridMenu .prec3 {
    grid-area: prec3; }
  .gridMenu .prec4 {
    grid-area: prec4; }
  .gridMenu .prec5 {
    grid-area: prec5; }
  .gridMenu .prec6 {
    grid-area: prec6; }
  .gridMenu .prec7 {
    grid-area: prec7; }
  .gridMenu .prec8 {
    grid-area: prec8; }
  .gridMenu .prec9 {
    grid-area: prec9; }

/*.gridMenu {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    width: 90vw;
    justify-content: center;
    border: 2px solid $color-pri;
    box-shadow: 0px 0px 37px 0px $color-pri;
    padding: 0 10px 0 15px;
    grid-auto-flow: row;
    grid-template-areas:
    "tituloMenu tituloMenu tituloMenu"
    "titProd1 descProd1 prec1"
    "titProd2 descProd2 prec2"
    "titProd3 descProd3 prec3"
    "titProd4 descProd4 prec4"
    "titProd5 descProd5 prec5"
    "titProd6 descProd6 prec6"
    "titProd7 descProd7 prec7"
    "titProd8 descProd8 prec8"
    "titProd9 descProd9 prec9";
    .tituloMenu {
        grid-area: tituloMenu; 
        justify-content: center;
        align-self: center;
        h1{
            display: flex;
            justify-content: center;
        }
    }
    .titProd1 { grid-area: titProd1; }
    .descProd1 { grid-area: descProd1; }
    .prec1 { grid-area: prec1; }
    .titProd2 { grid-area: titProd2; }
    .titProd3 { grid-area: titProd3; }
    .titProd4 { grid-area: titProd4; }
    .titProd5 { grid-area: titProd5; }
    .titProd6 { grid-area: titProd6; }
    .titProd7 { grid-area: titProd7; }
    .titProd8 { grid-area: titProd8; }
    .titProd9 { grid-area: titProd9; }
    .descProd2 { grid-area: descProd2; }
    .descProd3 { grid-area: descProd3; }
    .descProd4 { grid-area: descProd4; }
    .descProd5 { grid-area: descProd5; }
    .descProd6 { grid-area: descProd6; }
    .descProd7 { grid-area: descProd7; }
    .descProd8 { grid-area: descProd8; }
    .descProd9 { grid-area: descProd9; }
    .prec2 { grid-area: prec2; }
    .prec3 { grid-area: prec3; }
    .prec4 { grid-area: prec4; }
    .prec5 { grid-area: prec5; }
    .prec6 { grid-area: prec6; }
    .prec7 { grid-area: prec7; }
    .prec8 { grid-area: prec8; }
    .prec9 { grid-area: prec9; }
}*/
.container-flow {
  /*<<pensado para pagina de productos>>*/
  font-family: "Nunito", sans-serif;
  font-weight: bold; }

.containerProd {
  /*<<pensado para pagina de productos nuevos>>*/
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  gap: 10px 10px;
  grid-auto-flow: column dense;
  grid-template-areas: "producto1 producto2 producto3" "producto4 producto5 producto3" "producto4 producto6 producto7"; }
  .containerProd .producto4 {
    grid-area: producto4; }
  .containerProd .producto1 {
    grid-area: producto1; }
  .containerProd .producto2 {
    grid-area: producto2; }
  .containerProd .producto3 {
    grid-area: producto3; }
  .containerProd .producto5 {
    grid-area: producto5; }
  .containerProd .producto6 {
    grid-area: producto6; }
  .containerProd .producto7 {
    grid-area: producto7; }
  .containerProd li {
    border: 2px solid #f7b613;
    cursor: pointer;
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .containerProd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .containerProd .caption {
    /*pocicion sobre z imagen hover off NUEVO */
    width: inherit;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out; }
    .containerProd .caption .blur {
      /*background on hover NUEVO */
      background-color: rgba(0, 0, 0, 0.65);
      height: 410px;
      width: 450px;
      z-index: 5;
      position: absolute; }
    .containerProd .caption .caption-text {
      /*estilos textos on hover NUEVO*/
      display: grid;
      z-index: 10;
      position: absolute;
      color: #fff;
      width: 98%;
      height: 200px;
      justify-content: center;
      align-items: center; }
      .containerProd .caption .caption-text h1 {
        text-align: center;
        font-size: 2rem; }
  .containerProd li:hover .caption {
    /*mostrar texto on hover NUEVO */
    opacity: 1; }
  .containerProd li:hover img {
    /*movimiento on hover NUEVO */
    opacity: 1;
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15); }

/*<< ESTILOS MEDIA QUERIES >>*/
@media (max-width: 1000px) {
  .containerProd {
    /*<<pensado para pagina de productos nuevos>>*/
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    gap: 10px 10px;
    grid-auto-flow: column dense;
    grid-template-areas: "producto1 producto3" "producto2 producto3" "producto4 producto5" "producto4 producto6" "producto7 producto7"; }
    .containerProd .producto4 {
      grid-area: producto4; }
    .containerProd .producto1 {
      grid-area: producto1; }
    .containerProd .producto2 {
      grid-area: producto2; }
    .containerProd .producto3 {
      grid-area: producto3; }
    .containerProd .producto5 {
      grid-area: producto5; }
    .containerProd .producto6 {
      grid-area: producto6; }
    .containerProd .producto7 {
      grid-area: producto7; }
    .containerProd li {
      border: 2px solid #f7b613;
      cursor: pointer;
      float: left;
      padding: 0px;
      position: relative;
      overflow: hidden; }
      .containerProd li .caption-text {
        /*estilos textos on hover NUEVO*/
        display: grid;
        z-index: 10;
        position: absolute;
        color: #fff;
        width: 98%;
        height: 200px;
        text-align: center; }
        .containerProd li .caption-text h1 {
          font-size: 2rem; }
      .containerProd li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .containerProd li .caption {
        /*pocicion sobre z imagen hover off NUEVO */
        width: inherit;
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out; }
        .containerProd li .caption .blur {
          /*background on hover NUEVO */
          background-color: rgba(0, 0, 0, 0.65);
          height: 410px;
          width: 1000px;
          z-index: 5;
          position: absolute; }
    .containerProd li:hover .caption {
      /*mostrar texto on hover NUEVO */
      opacity: 1; }
    .containerProd li:hover img {
      /*movimiento on hover NUEVO */
      opacity: 1;
      transform: scale(1.15, 1.15);
      -webkit-transform: scale(1.15, 1.15);
      -moz-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
      -o-transform: scale(1.15, 1.15); } }

@media (max-width: 550px) {
  .containerProd {
    /*<<pensado para pagina de productos nuevos>>*/
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    gap: 10px 10px;
    grid-auto-flow: column dense;
    grid-template-areas: "producto1" "producto2" "producto3" "producto4" "producto5" "producto6" "producto7"; }
    .containerProd .producto4 {
      grid-area: producto4; }
    .containerProd .producto1 {
      grid-area: producto1; }
    .containerProd .producto2 {
      grid-area: producto2; }
    .containerProd .producto3 {
      grid-area: producto3; }
    .containerProd .producto5 {
      grid-area: producto5; }
    .containerProd .producto6 {
      grid-area: producto6; }
    .containerProd .producto7 {
      grid-area: producto7; }
    .containerProd li {
      border: 2px solid #f7b613;
      cursor: pointer;
      float: left;
      padding: 0px;
      position: relative;
      overflow: hidden; }
      .containerProd li .caption-text {
        /*estilos textos on hover NUEVO*/
        display: grid;
        z-index: 10;
        position: absolute;
        color: #fff;
        width: 98%;
        height: 200px;
        text-align: center; }
        .containerProd li .caption-text h1 {
          font-size: 2rem; }
      .containerProd li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .containerProd li .caption {
        /*pocicion sobre z imagen hover off NUEVO */
        width: inherit;
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out; }
        .containerProd li .caption .blur {
          /*background on hover NUEVO */
          background-color: rgba(0, 0, 0, 0.65);
          height: 410px;
          width: 1000px;
          z-index: 5;
          position: absolute; }
    .containerProd li:hover .caption {
      /*mostrar texto on hover NUEVO */
      opacity: 1; }
    .containerProd li:hover img {
      /*movimiento on hover NUEVO */
      opacity: 1;
      transform: scale(1.15, 1.15);
      -webkit-transform: scale(1.15, 1.15);
      -moz-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
      -o-transform: scale(1.15, 1.15); } }

.sucursales {
  /*<<pensado para pagina de sucursales>>*/
  display: grid;
  justify-content: center; }
  .sucursales .encabezado {
    display: inherit;
    justify-content: center; }

.boxsucu {
  /*<<pensado para pagina de sucursales>>*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 8px 4px;
  grid-auto-flow: column dense;
  grid-template-areas: "texto1 sucu1" "texto2 sucu2" "texto3 sucu3" "texto4 sucu4"; }
  .boxsucu .texto1 {
    grid-area: texto1; }
  .boxsucu .texto2 {
    grid-area: texto2; }
  .boxsucu .texto3 {
    grid-area: texto3; }
  .boxsucu .texto4 {
    grid-area: texto4; }
  .boxsucu .sucu1 {
    grid-area: sucu1; }
  .boxsucu .sucu2 {
    grid-area: sucu2; }
  .boxsucu .sucu3 {
    grid-area: sucu3; }
  .boxsucu .sucu4 {
    grid-area: sucu4; }
  .boxsucu div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .boxsucu div img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.contactos {
  /*<<pensado para pagina de contato>>*/
  list-style: none;
  flex-direction: column; }

.row d-flex justify-content-center {
  /*<<pensado para pagina de contato>>*/
  width: 90vw; }

.secContact {
  /*<<pensado para pagina de contato>>*/
  display: flex;
  justify-content: center;
  flex-direction: column; }

.divForm {
  display: flex;
  color: #0077ff;
  justify-content: center; }
  .divForm .containerForm {
    /*<<pensado para pagina de contato>>*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    width: 90vw;
    padding-bottom: 20px;
    justify-content: center;
    border: 2px solid #f7b613;
    box-shadow: 0px 0px 37px 0px #f7b613;
    grid-auto-flow: row;
    grid-template-areas: "contactanos contactanos" "cosas mensaje" "cosas mensaje"; }
    .divForm .containerForm .contactanos {
      /*<<pensado para pagina de contato>>*/
      grid-area: contactanos;
      display: flex;
      justify-content: center;
      align-self: center; }
    .divForm .containerForm .cosas {
      /*<<pensado para pagina de contato>>*/
      grid-area: cosas;
      display: inline-grid;
      justify-content: center;
      align-content: space-between;
      padding: 2px 2px 2px 2px; }
      .divForm .containerForm .cosas form {
        display: contents;
        text-align-last: justify; }
    .divForm .containerForm .mensaje {
      /*<<pensado para pagina de contato>>*/
      grid-area: mensaje;
      display: flex;
      flex-direction: column;
      justify-content: end; }

/*<< ESTILOS MEDIA QUERIES >>*/
@media (max-width: 1000px) {
  .containerForm {
    /*<<pensado para pagina de contato>>*/
    justify-content: center;
    height: 500px;
    grid-template-columns: 1fr;
    grid-template-areas: "contactanos" "cosas" "mensaje"; }
  .mensaje {
    /*<<pensado para pagina de contato>>*/
    grid-area: mensaje;
    display: flex;
    flex-direction: column;
    align-items: center; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-weight: bold; }
