* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-weight: bold; }

/*<< ESTILOS HEADER >>*/
header {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.573);
  font-weight: bolder;
  width: 100%; }

/*<< ESTILOS MAIN >>*/
.carousel-inner img {
  /*<<pensado para pagina de inicio>>*/
  width: 100vw;
  height: 100vh;
  object-fit: cover; }

.menuScroll img {
  /*<<pensado para pagina de menu>*/
  padding: 0px 5% 0px 5%;
  width: 100%; }

.h1index {
  /*<<pensado para pagina de inicio>>*/
  display: flex;
  z-index: 10;
  position: absolute;
  top: 70%;
  left: 50%;
  right: 5%;
  background-color: rgba(255, 255, 255, 0.445); }

.container-flow {
  /*<<pensado para pagina de productos>>*/
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

.cajaProd {
  width: 100vw; }

.containerProd {
  /*<<pensado para pagina de productos nuevos>>*/
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  gap: 10px 10px;
  grid-auto-flow: column dense;
  grid-template-areas: "producto1 producto2 producto3" "producto4 producto5 producto3" "producto4 producto6 producto7"; }
  .containerProd .producto4 {
    grid-area: producto4; }
  .containerProd .producto1 {
    grid-area: producto1; }
  .containerProd .producto2 {
    grid-area: producto2; }
  .containerProd .producto3 {
    grid-area: producto3; }
  .containerProd .producto5 {
    grid-area: producto5; }
  .containerProd .producto6 {
    grid-area: producto6; }
  .containerProd .producto7 {
    grid-area: producto7; }
  .containerProd li {
    border: 2px solid #f7b613;
    cursor: pointer;
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .containerProd img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .containerProd .caption {
    /*pocicion sobre z imagen hover off NUEVO */
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out; }
    .containerProd .caption .blur {
      /*background on hover NUEVO */
      background-color: rgba(0, 0, 0, 0.65);
      height: 410px;
      width: 450px;
      z-index: 5;
      position: absolute; }
    .containerProd .caption .caption-text {
      /*estilos textos on hover NUEVO*/
      display: block;
      z-index: 10;
      color: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      top: 10px;
      left: 25px; }
      .containerProd .caption .caption-text h1 {
        text-align: center;
        font-size: 3rem; }
  .containerProd li:hover .caption {
    /*mostrar texto on hover NUEVO */
    opacity: 1; }
  .containerProd li:hover img {
    /*movimiento on hover NUEVO */
    opacity: 1;
    transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15); }

.sucursales {
  /*<<pensado para pagina de sucursales>>*/
  display: grid;
  justify-content: center; }
  .sucursales .encabezado {
    display: inherit;
    justify-content: center; }

.boxsucu {
  /*<<pensado para pagina de sucursales>>*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 8px 4px;
  grid-auto-flow: column dense;
  grid-template-areas: "texto1 sucu1" "texto2 sucu2" "texto3 sucu3" "texto4 sucu4"; }
  .boxsucu .texto1 {
    grid-area: texto1; }
  .boxsucu .texto2 {
    grid-area: texto2; }
  .boxsucu .texto3 {
    grid-area: texto3; }
  .boxsucu .texto4 {
    grid-area: texto4; }
  .boxsucu .sucu1 {
    grid-area: sucu1; }
  .boxsucu .sucu2 {
    grid-area: sucu2; }
  .boxsucu .sucu3 {
    grid-area: sucu3; }
  .boxsucu .sucu4 {
    grid-area: sucu4; }
  .boxsucu div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    .boxsucu div img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.contactos {
  /*<<pensado para pagina de contato>>*/
  list-style: none;
  flex-direction: column; }

.row d-flex justify-content-center {
  /*<<pensado para pagina de contato>>*/
  width: 90vw; }

.secContact {
  /*<<pensado para pagina de contato>>*/
  display: flex;
  justify-content: center;
  flex-direction: column; }

.containerForm {
  /*<<pensado para pagina de contato>>*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "contactanos contactanos" "cosas mensaje" "cosas mensaje"; }

.contactanos {
  /*<<pensado para pagina de contato>>*/
  grid-area: contactanos;
  display: flex;
  justify-content: center; }

.cosas {
  /*<<pensado para pagina de contato>>*/
  grid-area: cosas;
  display: inline-grid;
  justify-content: center;
  align-content: space-between; }

.mensaje {
  /*<<pensado para pagina de contato>>*/
  grid-area: mensaje;
  display: flex;
  flex-direction: column;
  justify-content: end; }

/*<< ESTILOS FOOTER >>*/
footer {
  font-size: small;
  color: #f7b613;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }
  footer img {
    border: 0.2px solid #bbbaba;
    width: 50px;
    padding: 1px;
    margin: 2px; }

/*<< ESTILOS MEDIA QUERIES >>*/
@media (max-width: 1000px) {
  .containerForm {
    /*<<pensado para pagina de contato>>*/
    justify-content: center;
    height: 500px;
    grid-template-columns: 1fr;
    grid-template-areas: "contactanos" "cosas" "mensaje"; }
  .mensaje {
    /*<<pensado para pagina de contato>>*/
    grid-area: mensaje;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .containerProd {
    /*<<pensado para pagina de productos nuevos>>*/
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    gap: 10px 10px;
    grid-auto-flow: column dense;
    grid-template-areas: "producto1 producto3" "producto2 producto3" "producto4 producto5" "producto4 producto6" "producto7 producto7"; }
    .containerProd .producto4 {
      grid-area: producto4; }
    .containerProd .producto1 {
      grid-area: producto1; }
    .containerProd .producto2 {
      grid-area: producto2; }
    .containerProd .producto3 {
      grid-area: producto3; }
    .containerProd .producto5 {
      grid-area: producto5; }
    .containerProd .producto6 {
      grid-area: producto6; }
    .containerProd .producto7 {
      grid-area: producto7; }
    .containerProd li {
      border: 2px solid #f7b613;
      cursor: pointer;
      float: left;
      padding: 0px;
      position: relative;
      overflow: hidden; }
      .containerProd li .caption-text {
        /*estilos textos on hover NUEVO*/
        display: block;
        z-index: 10;
        color: #fff;
        position: absolute;
        width: auto;
        height: 200px;
        text-align: center;
        top: 10px;
        left: 50px; }
        .containerProd li .caption-text h1 {
          font-size: 3rem; }
      .containerProd li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .containerProd li .caption {
        /*pocicion sobre z imagen hover off NUEVO */
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out; }
        .containerProd li .caption .blur {
          /*background on hover NUEVO */
          background-color: rgba(0, 0, 0, 0.65);
          height: 410px;
          width: 1000px;
          z-index: 5;
          position: absolute; }
    .containerProd li:hover .caption {
      /*mostrar texto on hover NUEVO */
      opacity: 1; }
    .containerProd li:hover img {
      /*movimiento on hover NUEVO */
      opacity: 1;
      transform: scale(1.15, 1.15);
      -webkit-transform: scale(1.15, 1.15);
      -moz-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
      -o-transform: scale(1.15, 1.15); } }

@media (max-width: 550px) {
  .containerProd {
    /*<<pensado para pagina de productos nuevos>>*/
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    gap: 10px 10px;
    grid-auto-flow: column dense;
    grid-template-areas: "producto1" "producto2" "producto3" "producto4" "producto5" "producto6" "producto7"; }
    .containerProd .producto4 {
      grid-area: producto4; }
    .containerProd .producto1 {
      grid-area: producto1; }
    .containerProd .producto2 {
      grid-area: producto2; }
    .containerProd .producto3 {
      grid-area: producto3; }
    .containerProd .producto5 {
      grid-area: producto5; }
    .containerProd .producto6 {
      grid-area: producto6; }
    .containerProd .producto7 {
      grid-area: producto7; }
    .containerProd li {
      border: 2px solid #f7b613;
      cursor: pointer;
      float: left;
      padding: 0px;
      position: relative;
      overflow: hidden; }
      .containerProd li .caption-text {
        /*estilos textos on hover NUEVO*/
        display: block;
        z-index: 10;
        color: #fff;
        position: absolute;
        width: 300px;
        height: 200px;
        text-align: center;
        top: 10px;
        left: -10%; }
        .containerProd li .caption-text h1 {
          font-size: 3rem; }
      .containerProd li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0px;
        padding: 0px;
        float: left;
        z-index: 4;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
      .containerProd li .caption {
        /*pocicion sobre z imagen hover off NUEVO */
        cursor: pointer;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.45s ease-in-out;
        -moz-transition: all 0.45s ease-in-out;
        -o-transition: all 0.45s ease-in-out;
        -ms-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out; }
        .containerProd li .caption .blur {
          /*background on hover NUEVO */
          background-color: rgba(0, 0, 0, 0.65);
          height: 410px;
          width: 1000px;
          z-index: 5;
          position: absolute; }
    .containerProd li:hover .caption {
      /*mostrar texto on hover NUEVO */
      opacity: 1; }
    .containerProd li:hover img {
      /*movimiento on hover NUEVO */
      opacity: 1;
      transform: scale(1.15, 1.15);
      -webkit-transform: scale(1.15, 1.15);
      -moz-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
      -o-transform: scale(1.15, 1.15); } }
