
.contactos{
    list-style: none;
    flex-direction: column;
}
.row d-flex justify-content-center{
    width: 90vw;
}
.secContact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.divForm{
    display: flex;
    color: $color-pri;
    justify-content: center;
    .containerForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        width: 90vw;
        padding: 2%;
        padding-bottom: 20px;
        justify-content: center;
        @include borde-contenedor;
        grid-auto-flow: row;
        grid-template-areas:
        "cosas mensaje"
        "cosas mensaje";
        .cosas {
            grid-area: cosas;
            display: inline-grid;
            justify-content: center;
            align-content: space-between;
            padding: 2px 2px 2px 2px;
            form{
                display: contents;
                text-align-last: justify;
            }
        }
        .mensaje {
            grid-area: mensaje;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}

/*<< ESTILOS MEDIA QUERIES >>*/
@media  (max-width: 890px) {/*redistribucion y ancho adaptado*/
    .divForm{
        .containerForm {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr ;
            width: 50vw;
            padding: 3%;
            grid-template-areas:
            "cosas "
            "mensaje";
            }
        }
    }
@media  (max-width: 785px) {/*se ajusta el ancho*/
    .divForm{
        .containerForm {
            width: 80vw;
            .cosas {
                form{
                    div input{
                        width: 80%;
                    }
                }
            }
        }
    }
}