
.contactos{ /*<<pensado para pagina de contato>>*/
    list-style: none;
    flex-direction: column;
}
.row d-flex justify-content-center{ /*<<pensado para pagina de contato>>*/
    width: 90vw;
}
.secContact { /*<<pensado para pagina de contato>>*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.divForm{
    display: flex;
    color: $color-pri;
    justify-content: center;
    .containerForm { /*<<pensado para pagina de contato>>*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        width: 90vw;
        padding: 2%;
        padding-bottom: 20px;
        justify-content: center;
        border: 2px solid $color-pri;
        border-radius: 30px;
        grid-auto-flow: row;
        grid-template-areas:
        "cosas mensaje"
        "cosas mensaje";
        .cosas { /*<<pensado para pagina de contato>>*/
            grid-area: cosas;
            display: inline-grid;
            justify-content: center;
            align-content: space-between;
            padding: 2px 2px 2px 2px;
            form{
                display: contents;
                text-align-last: justify;
            }
        }
        .mensaje { /*<<pensado para pagina de contato>>*/
            grid-area: mensaje;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}



/*<< ESTILOS MEDIA QUERIES >>*/
@media  (max-width: 890px) {
    .divForm{
        display: flex;
        justify-content: center;
        .containerForm { /*<<pensado para pagina de contato>>*/
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr ;
            gap: 10px 10px;
            width: 50vw;
            padding: 3%;
            padding-bottom: 20px;
            justify-content: center;
            border: 2px solid $color-pri;
            grid-auto-flow: row;
            grid-template-areas:
            "cosas "
            "mensaje";
            .cosas { /*<<pensado para pagina de contato>>*/
                grid-area: cosas;
                display: inline-grid;
                justify-content: center;
                align-content: space-between;
                padding: 2px 2px 2px 2px;
                form{
                    display: contents;
                    text-align-last: justify;
                }
            }
            .mensaje { /*<<pensado para pagina de contato>>*/
                grid-area: mensaje;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
        }
    }

}
@media  (max-width: 785px) {
    .divForm{
        display: flex;
        justify-content: center;
        .containerForm { /*<<pensado para pagina de contato>>*/
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr ;
            gap: 10px 10px;
            width: 80vw;
            padding: 3%;
            padding-bottom: 20px;
            justify-content: center;
            border: 2px solid $color-pri;
            grid-auto-flow: row;
            grid-template-areas:
            "cosas "
            "mensaje";
            .cosas { /*<<pensado para pagina de contato>>*/
                grid-area: cosas;
                display: inline-grid;
                justify-content: center;
                align-content: space-between;
                padding: 2px 2px 2px 2px;
                form{
                    display: contents;
                    text-align-last: justify;
                    div input{
                        width: 80%;
                    }
                }
            }
            .mensaje { /*<<pensado para pagina de contato>>*/
                grid-area: mensaje;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
        }
    }

}