.contactos{ /*<<pensado para pagina de contato>>*/
    list-style: none;
    flex-direction: column;
}
.row d-flex justify-content-center{ /*<<pensado para pagina de contato>>*/
    width: 90vw;
}
.secContact { /*<<pensado para pagina de contato>>*/
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.divForm{
    display: flex;
    color: $color-sec;
    justify-content: center;
    .containerForm { /*<<pensado para pagina de contato>>*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        width: 90vw;
        padding-bottom: 20px;
        justify-content: center;
        border: 2px solid $color-pri;
        box-shadow: 0px 0px 37px 0px $color-pri;
        grid-auto-flow: row;
        grid-template-areas:
        "contactanos contactanos"
        "cosas mensaje"
        "cosas mensaje";
        .contactanos { /*<<pensado para pagina de contato>>*/
            grid-area: contactanos;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .cosas { /*<<pensado para pagina de contato>>*/
            grid-area: cosas;
            display: inline-grid;
            justify-content: center;
            align-content: space-between;
            padding: 2px 2px 2px 2px;
            form{
                display: contents;
                text-align-last: justify;
            }
        }
        .mensaje { /*<<pensado para pagina de contato>>*/
            grid-area: mensaje;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}



/*<< ESTILOS MEDIA QUERIES >>*/
@media  (max-width: 1000px) {
    .containerForm { /*<<pensado para pagina de contato>>*/
        justify-content: center;
        height: 500px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "contactanos"
        "cosas"
        "mensaje"
    }
    .mensaje { /*<<pensado para pagina de contato>>*/
        grid-area: mensaje;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}