footer{
    font-size: small;
    color: $color-sec;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    img{
        width: 100%;
        position: absolute;
        z-index: -1;
        object-fit: cover;
    }
}
@media  (max-width: 890px){
    footer{
        font-size: small;
        color: $color-sec;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        img{
            width: 100%;
            height: 50%;
            position: absolute;
            z-index: -1;
            object-fit: cover;
        }
    }
}
@media  (max-width: 430px){
    footer{
        font-size: small;
        color: $color-sec;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        img{
            width: 100%;
            height: 90%;
            position: absolute;
            z-index: -1;
            object-fit: cover;
        }
    }
}