@import "fuentes";
@import "variables";
@import "mixins";
@import "reset";
@import "header";
@import "main";
@import "footer";
@import "index";
@import "menu";
@import "productos";
@import "sucursales";
@import "contacto";

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-weight: bold;
   font-family: $fuente-pri;
   font-weight: bold;
}
main{
   color: $fuente-col-pri;
}